<?xml version="1.0"?>
<launch>
  
  <param name="overwrite_prev_bag" value="true" />
  <param name="bag_file_refreshed" value="false" />

  <include file="$(find access_teleop)/launch/house_simulation.launch">
  </include>
  
  <node pkg="web_video_server" type="web_video_server" name="web_video_server_node" />

  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />


  <!-- launch the point cloud saver to allow point cloud freezing -->
  <node pkg="access_teleop" output="screen" name="pointcloud_saver" type="access_pointcloud_pub.py" />
  
  <!-- launch the backend -->
  <node pkg="access_teleop" output="screen" name="access_teleop" type="access_teleop.py" />

</launch>
